stages:
  - build
  - test
  - deploy

build:
  image: node:latest
  stage: build
  variables:
    PUBLIC_URL: https://maxime.friess.pages.unistra.fr/nathaj/
  before_script:
    - yarn install --frozen-lockfile
  script:
    - yarn build
    - yarn typedoc
  artifacts:
    paths:
      - build/
      - docs/
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - node_modules/

test:
  image: node:latest
  stage: test
  before_script:
    - yarn install --frozen-lockfile
  script:
    - yarn test --ci --coverage --detectOpenHandles --forceExit --watchAll=false --all
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - node_modules/
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/

pages:
  image: alpine:latest
  stage: deploy
  variables:
    GIT_STRATEGY: none
  script:
    - mv build public
    - mv docs public/docs
  artifacts:
    paths:
      - public
