stages:
  - build
  - deploy

build:
  image: node:latest
  stage: build
  variables:
    PUBLIC_URL: https://maxime.friess.pages.unistra.fr/nathaj/
  script:
    - yarn install
    - yarn build
    - yarn typedoc
  artifacts:
    paths:
      - build/
      - docs/

pages:
  image: alpine:latest
  stage: deploy
  variables:
    GIT_STRATEGY: none
  script:
    - mv build public
    - mv docs public/docs
  artifacts:
    paths:
      - public
