stages:
  - build
  - test
  - deploy

build:
  image: node:latest
  stage: build
  variables:
    PUBLIC_URL: https://maxime.friess.pages.unistra.fr/nathaj/
  before_script:
    - yarn install --frozen-lockfile
  script:
    - yarn build
    - yarn typedoc
  artifacts:
    paths:
      - dist/
      - docs/
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - node_modules/
  needs: []

test:
  image: node:latest
  stage: test
  before_script:
    - yarn install --frozen-lockfile
  script:
    - yarn test --coverage
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - node_modules/
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage/clover.xml
  needs: []

pages:
  image: alpine:latest
  stage: deploy
  variables:
    GIT_STRATEGY: none
  script:
    - mkdir -p public/docs/
    - mv dist/* "public"
    - mv docs/* "public/docs"
  cache:
    paths:
      - public
  artifacts:
    paths:
      - public
  only:
    - develop
    - master
  needs: ['build']

prod:
  image: alpine/git:latest
  stage: deploy
  variables:
    GIT_STRATEGY: none
  script:
    - git clone https://gitlab-ci-token:${PAGES_PUSH_TOKEN}@git.unistra.fr/nathaj/nathaj.pages.unistra.fr.git/
    - rm -rf nathaj.pages.unistra.fr/public
    - mv public nathaj.pages.unistra.fr/public
    - git -C nathaj.pages.unistra.fr add public
    - git -C nathaj.pages.unistra.fr config user.email "ci@git.unistra.fr"
    - git -C nathaj.pages.unistra.fr config user.name "Gitlab CI"
    - git -C nathaj.pages.unistra.fr commit -m "[automated] ${CI_COMMIT_REF_NAME} - ${CI_COMMIT_SHORT_SHA}"
    - git -C nathaj.pages.unistra.fr push origin master
  only:
    - master
  needs: ['pages', 'test']
